---
# Managed servers definition
# 
# Each server definition can set:
# _In every of the followings, 'index' refers to the position of the
# server in the servers array (indexes start at 0)._
#
# - A unique name  
#   Optionnal. Can not be `manager`. Defaults to `server-#{index}`.
# - An IP address  
#   Optionnal. Defaults to `192.168.20.#{index}`.
# - A hash of forwarded ports  
#   Optionnal. Defaults to `{ '80': (8000 + index) }`
# - A SSH configuration  
#   Optionnal. Will be added to `/home/vagrant/.ssh/config` inside the
#   `manager` VM.
# - A set of shared folders
#   Optionnal. Defaults to none
#
# Example:
#
#     - name: "server-10"
#       ip: "192.168.20.10"
#       ports:
#         80:  8010
#         443: 8410
#
#       ssh: |
#         Host server-10
#           User someuser
#           IdentityFile ~/.ssh/somekey.rsa
#
#       folders:
#         'path/on/guest':
#           source: "path/on/host"
#
#           # Explicitly enable this shared folder. Required
#           #
#           # This allows you to keep your configuration in this file
#           # without effectively be sharing folder(s) with the VM (i.e.
#           # before Ansible provisioning has been applied).
#           enabled: true
#
#           # Vagrant shared folder options
#           synced: { type: 'nfs' }
#
#           # bindfs options
#           bindfs: { owner: 'another-user' }
#
